//index page css for real estate app
.property-index {
    margin-top: 1rem;
}
.hero {
    width: auto;
    height: 80vh;
    background-image: url("/img/search-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-caption {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}
.caption-text {
    font-size: 3rem;
    color: white;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
}
.hero-search-bx {
    margin: auto;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.hero-search-bx .navbar-search-input {
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 0;
    padding: 0.15rem 0.5rem !important;
    width: auto;
    font-size: 1.25rem;
    cursor: text;
}
.hero-search-button {
    margin-left: 0;
    padding: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #d93c23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-search-button:hover {
    background-color: #9c1114;
}

.hero-search-button i {
    color: white;
}
